* {
  margin: 0;
  padding: 0;
  border-radius: 0.03rem;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
@media screen and (max-width:1150px) {

  html {
    font-size: 60px;
  }

}
@media screen and (min-width:1150px) {
  html {
    font-size: 5.2631578947368vw;
  }
  body {
    font-size: 0.16rem;
  }  
}
body {
  font-size: 0.16rem;
}  
ul li {
  list-style: none;
}     
.header {
  width: 18.745rem;
}   
.header .head {
  width: 18.745rem;
  height: 1.95rem;
  background-image: url(../images/background_header.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header .head .menu {
  width: 100%;
  height: 0.65rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.20rem;
  font-weight: 500;
  color: white;
}
.header .head .menu .partition_menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0.2rem;
}
.header .head .menu .partition_menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .head .menu .partition_menu ul svg{
  font-size: 0.24rem;
}
.header .head .menu .partition_menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.15rem;
  height: 0.45rem;
}
.header .head .menu .search {
  width: 6.25rem;
  height: 0.45rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .head .menu .search div {
  width: 0.65rem;
  height: 0.45rem;
  background-color: #e5e5e5;
  font-size: 0.22rem;
  font-weight: bold;
  color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .head .menu .search input {
  width: 5.25rem;
  height: 0.2rem;
  border: none;
  outline: none;
  margin-left: 0.2rem;
}
.header .head .menu .search input::placeholder {
  font-size: 0.18rem;
}
.header .head .menu .search .search_history {
  justify-content: start;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 6.25rem;
  background-color: white;
  top: 0.46rem;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  padding: 0.1rem 0;
  display: none;
}
.header .head .menu .search .search_history li {
  width: 6.25rem;
  height: 0.4rem;
  color: black;
  box-sizing: border-box;
  line-height: 0.4rem;
  padding: 0 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .head .menu .search .search_history li svg {
  color: rgb(153, 153, 153);
}
.header .head .menu .search .search_history li svg:hover {
  color: rgb(115, 201, 229);
}
.header .head .menu .search .search_history li:hover {
  background-color: rgb(244, 244, 244);
}
.header .head .menu .user_menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .head .menu .user_menu .user {
  height: 0.45rem;
  width: 0.45rem;
  position: relative;
  overflow: hidden;
}
.header .head .menu .user_menu .hover {
  position: absolute;
  height: 0.45rem;
  width: 0.55rem;
  left: 50%;
  transform: translateX(-50%);
}
.header .head .menu .user_menu .user .img {
  height: 0.45rem;
  width: 0.45rem;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-image: url(../images/user.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.2s;
}
.header .head .menu .user_menu .user .img:hover,
.header .head .menu .user_menu .user .hover:hover~.img {
  transform: scale(2) translateY(65%);
}
.header .head .menu .user_menu .user .user_data {
  width: 3.5rem;
  height: 7.8rem;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(0.3rem);
  background-color: white;
  z-index: 0;
  transition-delay: 0.15s;
  color: black;
  opacity: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.header .head .menu .user_menu .user.vip .user_data .resource span {
  font-size: 0.2rem;
}
.header .head .menu .user_menu .user .img:hover~.user_data,
.header .head .menu .user_menu .user .hover:hover~.user_data {
  opacity: 1;
  z-index: 1;
}
.header .head .menu .user_menu .user .user_data .user_name {
  margin-top: 0.55rem;
  font-size: 0.22rem;
  font-weight: bold;
  text-align: center;
  line-height: 0.22rem;
}
.header .head .menu .user_menu .user .user_data .vip {
  height: 0.22rem;
  width: 0.8rem;
  background-color: rgb(251, 114, 153);
  font-size: 0.16rem;
  color: white;
  text-align: center;
  line-height: 0.22rem;
  margin-top: 0.1rem;
  display: none;
}
.header .head .menu .user_menu .user.vip .user_data .vip {
  display: block;
}
.header .head .menu .user_menu .user .user_data .level {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.header .head .menu .user_menu .user .user_data .level>div:nth-of-type(1) {
  width: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .head .menu .user_menu .user .user_data .level div:nth-of-type(1) span:nth-of-type(2) {
  font-size: 0.16rem;
  color: rgb(153, 153, 153);
}
.header .head .menu .user_menu .user .user_data .level .all {
  width: 3rem;
  height: 0.02rem;
  background-color: rgb(238, 238, 238);
  margin-top: 0.15rem;
}
.header .head .menu .user_menu .user .user_data .level .now {
  width: 2.2rem;
  height: 0.02rem;
  background-color: rgb(243, 203, 133);
}
.header .head .menu .user_menu .user .user_data .resource {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3rem;
  font-size: 0.3rem;
  margin-top: 0.25rem;
}
.header .head .menu .user_menu .user .user_data .resource>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .head .menu .user_menu .user .user_data .resource>div:nth-of-type(2) {
  margin-right: 0.9rem;
}
.header .head .menu .user_menu .user .user_data .resource .bind {
  color: rgb(115, 201, 229);
}
.header .head .menu .user_menu .user .user_data .resource .bind svg:nth-of-type(1) {
  font-size: 0.26rem;
}
.header .head .menu .user_menu .user .user_data .state {
  width: 3.5rem;
  height: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid rgb(183, 183, 183);
  border-bottom: 1px solid rgb(183, 183, 183);
  margin-top: 0.2rem;
  border-radius: 0;
}
.header .head .menu .user_menu .user .user_data .state div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.16rem;
  color: rgb(153, 153, 153);
}
.header .head .menu .user_menu .user .user_data .state div span {
  font-size: 0.2rem;
  font-weight: bold;
  color: black;
}
.header .head .menu .user_menu .user .user_data .menu {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  height: 3.3rem;
}
.header .head .menu .user_menu .user .user_data .menu div {
  color: rgb(153, 153, 153);
  font-size: 0.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 0.35rem;
  margin-top: 0.25rem;
}
.header .head .menu .user_menu .user .user_data .menu div span {
  color: black;
  font-size: 0.18rem;
}
.header .head .menu .user_menu .user .user_data .language {
  width: 3.5rem;
  height: 0.75rem;
  box-sizing: border-box;
  border-top: 1px solid rgb(183, 183, 183);
  border-bottom: 1px solid rgb(183, 183, 183);
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.2rem;
  color: rgb(153, 153, 153);
  border-radius: 0;
}
.header .head .menu .user_menu .user .user_data .language svg {
  margin-left: 0.35rem;
}
.header .head .menu .user_menu .user .user_data .language span {
  margin-left: 0.1rem;
  color: black;
}
.header .head .menu .user_menu .user .user_data .language svg:nth-of-type(2) {
  margin-left: 1.1rem;
}
.header .head .menu .user_menu .user .user_data .quit {
  width: 3.5rem;
  height: 0.7rem;
  margin-top: 0.05rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.2rem;
  color: rgb(153, 153, 153);
}
.header .head .menu .user_menu .user .user_data .quit svg {
  margin-left: 0.35rem;
}
.header .head .menu .user_menu .user .user_data .quit span {
  margin-left: 0.1rem;
  color: black;
}
.header .head .menu .user_menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .head .menu .user_menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.15rem;
  height: 0.45rem;
}
.header .head .menu .user_menu ul li:nth-of-type(7) {
  background-color: #fb7299;
  width: 1.25rem;
  height: 0.45rem;
}
.header .menus {
  width: 15rem;
  height: 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header .menus .menu_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.2rem;
  margin-right: 0.2rem;
}
.header .menus .menu_1 li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .menus .menu_1 li:hover span {
  color: rgb(115, 201, 229);
}
.header .menus .menu_1 li>div {
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.3rem;
  font-weight: bolder;
}
.header .menus .menu_1 li:nth-of-type(1)>div {
  background-color: #ff6684;
}
.header .menus .menu_1 li:nth-of-type(2)>div {
  background-color: rgb(252, 168, 42);
}
.header .menus .menu_1 li:nth-of-type(3)>div {
  background-color: #0087cb;
}
.header .menus .menu_1 li:nth-of-type(4)>div {
  background-color: #5cc172;
}
.header .menus .menu_2 {
  width: 10.5rem;
  height: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 0.1rem;
  border-left: 0.01rem solid #e8e8e8;
  border-right: 0.01rem solid #e8e8e8;
  overflow: hidden;
}
.header .menus .menu_2 li {
  width: 0.8rem;
  height: 0.2rem;
  margin-left: 0.1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.header .menus .menu_2 li>div:nth-of-type(2):hover,
.header .menus .menu_2 li>div:nth-of-type(1):hover~div:nth-of-type(2)
 {
  color: rgb(115, 201, 229);
}
.header .menus .menu_2 li:nth-of-type(8),
.header .menus .menu_2 li:nth-of-type(9),
.header .menus .menu_2 li:nth-of-type(18),
.header .menus .menu_2 li:nth-of-type(19) {
  width: 0.95rem;
}
.header .menus .menu_2 li:nth-of-type(10),
.header .menus .menu_2 li:nth-of-type(20) {
  width: 1.15rem;
}
.header .menus .menu_2 li>div:nth-of-type(2) {
  font-size: 0.2rem;
}
.header .menus .menu_2 li>div:nth-of-type(1) {
  width: 0.35rem;
  height: 0.16rem;
  background-color: rgb(115, 201, 229);
  border-radius: 0.03rem;
  font-size: 0.rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .menus .menu_2 li .option {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
  height: 1.9rem;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  box-shadow: 0 0 0.02rem 0.02rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: 0.4s linear;
}
.header .menus .menu_2 li .option.above {
  transform: translateY(-100%) translateX(-0.2rem) translateY(-0.3rem);
}
.header .menus .menu_2 li .option.below {
  transform: translateY(0.55rem) translateX(-0.2rem);
}
.header .menus .menu_2 li .option.r2 {
  height: 0.95rem;
}
.header .menus .menu_2 li .option.r3 {
  height: 1.425rem;
}
.header .menus .menu_2 li .option div div:hover {
  color: rgb(115, 201, 229);
}
.header .menus .menu_2 li>div:nth-of-type(1):hover~.option.above,
.header .menus .menu_2 li>div:nth-of-type(2):hover~.option.above {
  transform: translateY(-100%) translateX(-0.2rem) translateY(-0.25rem);
  opacity: 1;
} 
.header .menus .menu_2 li>div:nth-of-type(1):hover~.option.below,
.header .menus .menu_2 li>div:nth-of-type(2):hover~.option.below {
  transform: translateY(0.5rem) translateX(-0.2rem);
  opacity: 1;
} 
.header .menus .menu_2 li .option::after {
  content: "";
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  box-shadow: 0.02rem 0.02rem 0.02rem 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
.header .menus .menu_2 li .option.above::after {
  transform: translateX(-50%) translateY(-50%) translateX(0.4rem) rotate(45deg);
  top: 100%;
  left: 0;
}
.header .menus .menu_2 li .option.below::after {
  transform: translateX(-50%) translateY(-50%) translateX(0.4rem) rotate(225deg);
  top: 0;
  left: 0;
}
.header .menus .menu_2 li .option>div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 1.9rem;
}
.header .menus .menu_2 li .option.r2>div {
  height: 0.95rem;
}
.header .menus .menu_2 li .option.r3>div {
  height: 1.425rem;
}
.header .menus .menu_2 li .option>div div {
  font-size: 0.16rem;
  white-space: nowrap;
  margin: 0.1rem 0.15rem;
}
.header .menus .menu_3 {
  width: 2.9rem;
  margin-left: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 0.2rem;
  height: 0.8rem;
}
.header .menus .menu_3 li {
  margin-right: 0.2rem;
}
.header .menus .menu_3 li:hover span {
  color: rgb(115, 201, 229);
}
.header .recommend {
  width: 15rem;
  height: 3rem;
  margin: 0.65rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .recommend .advertisement {
  width: 6.9rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
}
.header .recommend .advertisement input:nth-of-type(1):checked~div:nth-of-type(1) {
  animation-name: show;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  z-index: 1;
}
.header .recommend .advertisement input:nth-of-type(2):checked~div:nth-of-type(2) {
  animation-name: show;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  z-index: 1;
}
.header .recommend .advertisement input:nth-of-type(3):checked~div:nth-of-type(3) {
  animation-name: show;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  z-index: 1;
}
.header .recommend .advertisement input:nth-of-type(4):checked~div:nth-of-type(4) {
  animation-name: show;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  z-index: 1;
}
.header .recommend .advertisement input:nth-of-type(1):checked~label:nth-of-type(1) svg{
  transform: scale(1.8);
}
.header .recommend .advertisement input:nth-of-type(2):checked~label:nth-of-type(2) svg{
  transform: scale(1.8);
}
.header .recommend .advertisement input:nth-of-type(3):checked~label:nth-of-type(3) svg{
  transform: scale(1.8);
}
.header .recommend .advertisement input:nth-of-type(4):checked~label:nth-of-type(4) svg{
  transform: scale(1.8);
}

@keyframes show {
  0% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.header .recommend .advertisement>div {
  width: 6.9rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 100%;
  animation-name: hide;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  z-index: 2;
  box-sizing: border-box;
  padding: 0.15rem;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
@keyframes hide {
  0% {
    transform: rotateZ(0deg);
  }
  99.99% {
    transform: rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(-270deg);
  }
}
.header .recommend .advertisement>div:nth-of-type(1) {
  background-image: url(../images/recommend_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotateZ(0) translateZ(5px);
}
.header .recommend .advertisement>div:nth-of-type(2) {
  background-image: url(../images/recommend_2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotateZ(0);
}
.header .recommend .advertisement>div:nth-of-type(3) {
  background-image: url(../images/recommend_3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotateZ(0);
}
.header .recommend .advertisement>div:nth-of-type(4) {
  background-image: url(../images/recommend_4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotateZ(0);
}
.header .recommend .advertisement div div {
  font-size: 0.22rem;
  color: white;
}
.header .recommend .advertisement span {
  box-sizing: content-box;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 2;
  transform-origin: 50% 50%;
  transition: 0.02s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 161, 214);
  text-shadow: 0 0 0.02rem 0.02rem white;
}
.header .recommend .advertisement span svg {
  transform: scale(0);
}
.header .recommend .advertisement span:hover {
  border: 0.04rem solid white;
  background-color: rgb(115, 201, 229);
  position: absolute;
  z-index: 2;
}
.header .recommend .advertisement label:nth-of-type(1) span {
  bottom: 0.15rem;
  right: 0.2rem;
  transform: translateX(50%) translateY(50%);
}
.header .recommend .advertisement label:nth-of-type(2) span {
  bottom: 0.15rem;
  right: 0.5rem;
  transform: translateX(50%) translateY(50%);
}
.header .recommend .advertisement label:nth-of-type(3) span {
  bottom: 0.15rem;
  right: 0.8rem;
  transform: translateX(50%) translateY(50%);
}
.header .recommend .advertisement label:nth-of-type(4) span {
  bottom: 0.15rem;
  right: 1.1rem;
  transform: translateX(50%) translateY(50%);
}
.header .recommend .vedios {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  width: 8rem;
  height: 3rem;
  position: relative;
}
.header .recommend .vedios .turn {
  position: absolute;
  font-size: 0.32rem;
  width: 0.4rem;
  height: 0.9rem;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  color: white;
  transform-origin: 50% 50%;
  top: 50%;
}
.header .recommend .vedios:hover .turn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .recommend .vedios .turn.left {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}
.header .recommend .vedios .turn.right {
  right: 0;
  transform: translateY(-50%);
}
.header .recommend .vedios>.vedio {
  width: 2.6rem;
  height: 1.45rem;
  overflow: hidden;
  position: relative;
}
.header .recommend .vedios>.vedio:nth-of-type(3) {
  background-image: url(../images/recommend_vedio_1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header .recommend .vedios>.vedio:nth-of-type(4) {
  background-image: url(../images/recommend_vedio_2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header .recommend .vedios>.vedio:nth-of-type(5) {
  background-image: url(../images/recommend_vedio_3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header .recommend .vedios>.vedio:nth-of-type(6) {
  background-image: url(../images/recommend_vedio_4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header .recommend .vedios>.vedio:nth-of-type(7) {
  background-image: url(../images/recommend_vedio_5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header .recommend .vedios>.vedio:nth-of-type(8) {
  background-image: url(../images/recommend_vedio_6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header .recommend .vedios>.vedio .mask {
  width: 2.6rem;
  height: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transform: translateY(-0.35rem);
  transition: 0.2s linear;
}
.header .recommend .vedios>.vedio:hover .mask {
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateY(-1.05rem);
}
.header .recommend .vedios>.vedio .mask .title {
  margin-top: 1.4rem;
  margin-left: 0.1rem;
  width: 2.25rem;
  font-size: 0.22rem;
  line-height: 0.25rem;
  height: 0.23rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.header .recommend .vedios>.vedio:hover .mask .title {
  height: 0.5rem;
  white-space: normal;
}
.header .recommend .vedios>.vedio .mask .up {
  margin-left: 0.1rem;
  margin-top: 0.05rem;
  font-size: 0.22rem;
  opacity: 0;
}
.header .recommend .vedios>.vedio:hover .mask .up {
  opacity: 1;
}
.header .recommend .vedios>.vedio .mask .up span {
  font-size: 0.16rem;
  line-height: 0.16rem;
}
.header .recommend .vedios>.vedio .mask .view {
  margin-left: 0.1rem;
  margin-top: 0.05rem;
  font-size: 0.16rem;
  opacity: 0;
}
.header .recommend .vedios>.vedio:hover .mask .view {
  opacity: 1;
}
.body {
  width: 18.745rem;
  position: relative;
  overflow: visible;
}
.body .partition {
  width: 15rem;
  margin: 0.5rem auto 0;
}
.body .partition.a {
  height: 3rem;
}
.body .partition.b,
.body .partition.animation
 {
  height: 5.7rem;
}
.body .partition.cartoon {
  height: 7.9rem;
}
.body .partition .title {
  font-size: 0.4rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.body .partition .title .update_time {
  display: none;
}
.body .partition .title .update_time input {
  display: none;
}
.body .partition .title .update_time input:nth-of-type(1):checked~label:nth-of-type(1) li,
.body .partition .title .update_time input:nth-of-type(2):checked~label:nth-of-type(2) li,
.body .partition .title .update_time input:nth-of-type(3):checked~label:nth-of-type(3) li,
.body .partition .title .update_time input:nth-of-type(4):checked~label:nth-of-type(4) li,
.body .partition .title .update_time input:nth-of-type(5):checked~label:nth-of-type(5) li,
.body .partition .title .update_time input:nth-of-type(6):checked~label:nth-of-type(6) li,
.body .partition .title .update_time input:nth-of-type(7):checked~label:nth-of-type(7) li,
.body .partition .title .update_time input:nth-of-type(8):checked~label:nth-of-type(8) li {
  color: rgb(0, 161, 214);
  border-bottom: 1px solid rgb(0, 161, 214);
}
.body .partition.animation .title .update_time {
  display: block;
  display: flex;
  justify-content: start;
  align-items: center;
}
.body .partition.animation .title .update_time li {
  width: 0.45rem;
  height: 0.3rem;
  font-size: 0.18rem;
  margin-left: 0.30rem;
  box-sizing: border-box;
  border-radius: 0;
  text-align: center;
}
.body .partition .title span{
  font-size: 0.26rem;
  margin-left: 0.15rem;
}
.body .partition .main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.body .partition .vedio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.15rem;
  width: 10.65rem;
  overflow: auto;
}
.body .partition.a .vedio {
  height: 2.5rem;
} 
.body .partition.b .vedio {
  height: 5.2rem;
} 
.body .partition.animation .vedio {
  height: 4.2rem;
  justify-content: start;
} 
.body .partition.cartoon .vedio {
  height: 7.3rem;
} 
.body .partition .vedio .box {
  width: 2.6rem;
  height: 2.45rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.body .partition.cartoon .vedio .box {
  height: 3.65rem;
}
.body .partition .vedio .box div:nth-of-type(1) {
  width: 2.6rem;
  height: 1.5rem;
  background-color: #ff6684;
}
.body .partition.cartoon .vedio .box div:nth-of-type(1) {
  height: 2.7rem;
}
.body .partition .vedio .box>span{
  font-size: 0.18rem;
  width: 2.35rem;
  height: 0.62rem;
  margin: 0.1rem 0;
  overflow: hidden;
}
.body .partition .vedio .box div:nth-of-type(2) {
  font-size: 0.2rem;
  height: 0.22rem;
  color: rgb(153, 153, 153);
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.30rem;
  display: none;
}
.body .partition .vedio .box div:nth-of-type(2) span {
  font-size: 0.14rem;
}
.body .partition.cartoon .vedio .box div:nth-of-type(2) span {
  font-size: 0.18rem;
}
.body .partition .main .advertisement {
  width: 4rem;
  background-color: beige;
  margin-top: 0.15rem;
  display: none;
}
.body .partition.advertisement .main .advertisement {
  display: block;
}
.body .partition.a .main .advertisement {
  height: 2.3rem;
}
.body .partition.b .main .advertisement {
  height: 4.15rem;
}
.body .partition.up .vedio .box div:nth-of-type(2) {
  display: block;
}
.body .partition .rank {
  display: none;
}
.body .partition.rank .rank {
  width: 4rem;
  height: 5.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  transform: translateY(-0.35rem);
}
.body .partition.rank .rank .title {
  font-size: 0.24rem;
}
.body .partition.rank .rank .list {
  width: 4rem;
  height: 4.15rem;
}
.body .partition.rank .rank .list li {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.18rem;
  margin-top: 0.2rem;
  overflow:hidden; 
  white-space:nowrap;
  text-overflow:ellipsis; 
}
.body .partition.rank .rank .list li .ranking {
  flex-shrink: 0;
}
.body .partition.rank .rank .list li:nth-of-type(1) {
  align-items: flex-start;
}
.body .partition.rank .rank .list li:nth-of-type(1) .img{
  width: 1.4rem;
  height: 0.8rem;
  background-color: aqua;
  border-radius: 0.03rem;
}
.body .partition.rank.cartoon .rank .list li:nth-of-type(1) .img {
  height: 1.9rem;
  width: 1.4rem;
}
.body .partition.cartoon.rank .rank .list li:nth-of-type(1) {
  height: 1.9rem;
}
.body .partition.rank .rank .list li:nth-of-type(1) .describe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-left: 0.2rem;
  width: 2rem;
}
.body .partition.rank .rank .list li:nth-of-type(1) .describe .name {
  width: 2rem;
  height: 0.5rem;
  overflow: hidden;
  font-size: 0.18rem;
}
.body .partition.rank .rank .list li:nth-of-type(1) .describe .score,
.body .partition.rank .rank .list li:nth-of-type(1) .describe .type,
.body .partition.rank .rank .list li:nth-of-type(1) .describe .update
 {
  width: 2rem;
  height: 0.18rem;
  font-size: 0.16rem;
  color: rgb(153, 153, 153);
}
.body .partition.rank .rank .list li:nth-of-type(1) .describe .type,
.body .partition.rank .rank .list li:nth-of-type(1) .describe .update {
  margin-top: 0.15rem;
}
.body .partition.rank .rank .list li .ranking {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 0.03rem;
  color: rgb(183, 183, 183);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.16rem;
  
}
.body .partition.rank.cartoon .rank .list li div:nth-of-type(2){
  width: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body .partition.rank.cartoon .rank .list li div:nth-of-type(2) span:nth-of-type(2) {
  width: 2rem;
  height: 0.18rem;
  font-size: 0.16rem;
  color: rgb(153, 153, 153);
  line-height: 0.16rem;
}
.body .partition.rank .rank .list li:nth-of-type(1) .ranking,
.body .partition.rank .rank .list li:nth-of-type(2) .ranking,
.body .partition.rank .rank .list li:nth-of-type(3) .ranking {
  background-color: rgb(0, 161, 214);
  color: white;
}
.body .partition.animation .vedio .box {
  width: 2.85rem;
  height: 0.9rem;
  margin: 0 0.4rem 0.3rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
.body .partition.animation .vedio .box .image {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.03rem;
}
.body .partition.animation .vedio .box .describe {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 0.8rem;
  width: 1.7rem;
  margin-left: 0.16rem;
  margin-bottom: 0;
}
.body .partition.animation .vedio .box .name {
  width: 1.8rem;
  height: 0.5rem;
  color: black;
  font-size: 0.18rem;
}
.body .partition.animation .vedio .box .update {
  height: 0.16rem;
  font-size: 0.16rem;
  line-height: 0.16rem;
  width: 1.5rem;
  color: rgb(0, 161, 214);
  margin-top: 0.15rem;
}
.body .partition.essay .article {
  margin-top: 0.15rem;
  height: 5rem;
  width: 10.7rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.body .partition.essay .article .box {
  width: 5rem;
  height: 1.15rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.body .partition.essay .article .box .image {
  width: 1.5rem;
  height: 1.2rem;
  background-color: cornflowerblue;
}
.body .partition.essay .article .box .describe {
  width: 3.3rem;
  height: 1.2rem;
  margin-left: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.2rem;
}
.body .partition.essay .article .box .describe>span {
  height: 0.5rem;
}
.body .partition.essay .article .box .describe div {
  font-size: 0.16rem;
  color: rgb(183, 183, 183);
}
.body .partition:nth-of-type(1) .vedio .box:nth-of-type(1) div:nth-of-type(1){
  background-image: url(../images/tuiguang_1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(1) .vedio .box:nth-of-type(2) div:nth-of-type(1){
  background-image: url(../images/tuiguang_2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(1) .vedio .box:nth-of-type(3) div:nth-of-type(1){
  background-image: url(../images/tuiguang_3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(1) .vedio .box:nth-of-type(4) div:nth-of-type(1){
  background-image: url(../images/tuiguang_4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(1) .advertisement {
  background-image: url(../images/tuiguang_advertisement.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(2) .vedio .box:nth-of-type(1) div:nth-of-type(1){
  background-image: url(../images/zongjuesai_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(2) .vedio .box:nth-of-type(2) div:nth-of-type(1){
  background-image: url(../images/zongjuesai_2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(2) .vedio .box:nth-of-type(3) div:nth-of-type(1){
  background-image: url(../images/zongjuesai_3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(2) .vedio .box:nth-of-type(4) div:nth-of-type(1){
  background-image: url(../images/zongjuesai_4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(2) .advertisement {
  background-image: url(../images/zongjuesai_advertisement.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(3) .vedio .box:nth-of-type(1) div:nth-of-type(1) {
  background-image: url(../images/zhibo_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(3) .vedio .box:nth-of-type(2) div:nth-of-type(1) {
  background-image: url(../images/zhibo_2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(3) .vedio .box:nth-of-type(3) div:nth-of-type(1) {
  background-image: url(../images/zhibo_3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(3) .vedio .box:nth-of-type(4) div:nth-of-type(1) {
  background-image: url(../images/zhibo_4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(3) .vedio .box:nth-of-type(5) div:nth-of-type(1) {
  background-image: url(../images/zhibo_5.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(3) .vedio .box:nth-of-type(6) div:nth-of-type(1) {
  background-image: url(../images/zhibo_6.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(3) .vedio .box:nth-of-type(7) div:nth-of-type(1) {
  background-image: url(../images/zhibo_7.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(3) .vedio .box:nth-of-type(8) div:nth-of-type(1) {
  background-image: url(../images/zhibo_8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(3) .advertisement {
  background-image: url(../images/zhibo_advertisement.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(4) .vedio .box:nth-of-type(1) div:nth-of-type(1) {
  background-image: url(../images/donghua_1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(4) .vedio .box:nth-of-type(2) div:nth-of-type(1) {
  background-image: url(../images/donghua_2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(4) .vedio .box:nth-of-type(3) div:nth-of-type(1) {
  background-image: url(../images/donghua_3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(4) .vedio .box:nth-of-type(4) div:nth-of-type(1) {
  background-image: url(../images/donghua_4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(4) .vedio .box:nth-of-type(5) div:nth-of-type(1) {
  background-image: url(../images/donghua_5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(4) .vedio .box:nth-of-type(6) div:nth-of-type(1) {
  background-image: url(../images/donghua_6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(4) .vedio .box:nth-of-type(7) div:nth-of-type(1) {
  background-image: url(../images/donghua_7.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(4) .vedio .box:nth-of-type(8) div:nth-of-type(1) {
  background-image: url(../images/donghua_8.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(4) .rank li:nth-of-type(1) .img {
  background-image: url(../images/donghua_rank.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(1) div:nth-of-type(1) {
  background-image: url(../images/fanjv_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(2) div:nth-of-type(1) {
  background-image: url(../images/fanjv_2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(3) div:nth-of-type(1) {
  background-image: url(../images/fanjv_3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(4) div:nth-of-type(1) {
  background-image: url(../images/fanjv_4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(5) div:nth-of-type(1) {
  background-image: url(../images/fanjv_5.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(6) div:nth-of-type(1) {
  background-image: url(../images/fanjv_6.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(7) div:nth-of-type(1) {
  background-image: url(../images/fanjv_7.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(8) div:nth-of-type(1) {
  background-image: url(../images/fanjv_8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(9) div:nth-of-type(1) {
  background-image: url(../images/fanjv_9.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(10) div:nth-of-type(1) {
  background-image: url(../images/fanjv_10.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(11) div:nth-of-type(1) {
  background-image: url(../images/fanjv_11.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(12) div:nth-of-type(1) {
  background-image: url(../images/fanjv_12.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(13) div:nth-of-type(1) {
  background-image: url(../images/fanjv_13.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(14) div:nth-of-type(1) {
  background-image: url(../images/fanjv_14.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(15) div:nth-of-type(1) {
  background-image: url(../images/fanjv_15.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .vedio .box:nth-of-type(16) div:nth-of-type(1) {
  background-image: url(../images/fanjv_16.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.body .partition:nth-of-type(5) .rank li:nth-of-type(1) .img {
  background-image: url(../images/fanjv_rank.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}










.body .slider {
  position: absolute;
  margin-top: 3.3rem;
  top: -6.8rem;
  right: 1.4rem;
}
.body .slider .head {
  font-size: 0.35rem;
  font-weight: bold;
  position: absolute;
  transform: translateX(-50%) translateY(-50%) translateX(0.35rem) translateY(-0.03rem) rotate(90deg);
}
.body .slider .body {
  height: 7.25rem;
  position: absolute;
  width: 0.7rem;
  border-radius: 0.1rem;
  border: 1px solid rgb(213, 213, 213);
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 0.02rem 0.02rem rgb(213, 213, 213);
  overflow: hidden;
}
.body .slider .body .menu {
  height: 6.45rem;
  width: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 auto;
}
.body .slider .body .menu a {
  align-items: stretch;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}
.body .slider .body .menu a:hover {
  background-color: rgb(115, 201, 229);
}
.body .slider .body .menu  a{
  text-decoration: none;
  color: black;
}
.body .slider .body .setting {
  width: 100%;
  height: 0.4rem;
  box-sizing: border-box;
  border-top: 0.01rem solid rgb(153, 153, 153);
  border-bottom: 0.01rem solid rgb(153, 153, 153);
  border-radius: 0;
  margin-top: 0.05rem;
  font-size: 0.22rem;
  text-align: center;
  line-height: 0.38rem;
  color: rgb(153, 153, 153);
  border-radius: 0;
}
.body .slider .body .setting:hover {
  background-color: rgb(115, 201, 229);
}
.body .slider .body .to_top {
  height: 0.36rem;
  font-size: 0.22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(153, 153, 153);
  border-radius: 0;
}
.body .slider .body .to_top:hover {
  background-color: rgb(115, 201, 229);
}
.body .slider .body .to_top svg {
  transform: rotate(-90deg);
}
.footer {
  height: 6.4rem;
  width: 18.745rem;
  background-color: rgb(246, 249, 250);
}
.footer .menu {
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer .menu>div {
  margin-top: 0.4rem;
  height: 1.9rem;
}
.footer .menu>div:nth-of-type(1) {
  width: 4.5rem;
}
.footer .menu>div:nth-of-type(2) {
  width: 7rem;
  box-sizing: border-box;
  border-right: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  padding-left: 0.5rem;
}
.footer .menu>div:nth-of-type(3) {
  width: 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.6rem;
}
.footer .menu>div:nth-of-type(3) div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0.4rem;
  height: 1.1rem;
  width: 0.9rem;
}
.footer .menu>div:nth-of-type(3) span {
  font-size: 0.2rem;
  margin-top: 0.2rem;
}
.footer .menu .title {
  font-size: 0.2rem;
  color: rgb(153, 153, 153);
  margin-bottom: 0.25rem;
}
.footer .menu ul {
  height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer .menu ul li {
  width: 1.9rem;
  height: 0.2rem;
  font-size: 0.2rem;
  margin-bottom: 0.2rem;
}
.footer>.others {
  width: 15.2rem;
  height: 2.7rem;
  margin: 0.5rem auto 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.footer>.others .image {
  height: 2.2rem;
  width: 1.3rem;
  background-image: url(../images/footer_others.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footer>.others .others div {
  color: rgb(153, 153, 153);
  margin-left: 0.4rem;
  margin-top: 0.15rem;
}